#galleria
:javascript
  var data = 
  $.getJSON("/slideshow.json", false, function(data) {
        $('#galleria').galleria({
            data_source:data,
            image_crop: false,
            frame_color: '#000',
            transition: 'fade'
          });
        });