#thumbnails
  - @images.each do |img|
    %a.fancybox{:href => img["image"], :rel => "gallery1", :title => "Gallery Photo"}
      %img{:alt => "Gallery Photo", :src => img["thumb"], :title => "Gallery Photo"}/