%h1
  %a{:href => "/"} Singal Gallery
#content
  = will_paginate(@photos)
  #thumbnails
    - @photos.each do |img|
      %a.thumbnail{:href => img['image'], :rel => "gallery"}
        %img{:src => img["thumb"], :alt => "Gallery Image"}/
  = will_paginate(@photos)
