%h1
  %a{:href => "/"} Picasa Gallery
= Photo.page(params["page"], :per_page => 100).pager.to_html("/")
#thumbnails
  - @photos.each do |img|
    %a.thumbnail{:href => img['image'], :rel => "gallery"}
      %img{:src => img["thumb"]}/
= Photo.page(params["page"], :per_page => 100).pager.to_html("/")