%h1
  %a{:href => "/"} Picasa Gallery
#content
  = @photos.pager.to_html("/page", :clean => true)
  #thumbnails
    - @photos.each do |img|
      %a.thumbnail{:href => img['image'], :rel => "gallery"}
        %img{:src => img["thumb"], :alt => "Gallery Image"}/
  = @photos.pager.to_html("/page", :clean => true)