= Photo.page(params["page"], :per_page => 500).pager.to_html("/")
#thumbnails
  - @photos.each do |img|
    %a.gallery{:href => img["image"], :rel => "gallery1"}
      %img{:alt => "Gallery Photo", :src => img["thumb"]}/
= Photo.page(params["page"], :per_page => 500).pager.to_html("/")