!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %title Picasa Gallery
    %meta{:name => "description", :content => "A image gallery built with Sinatra"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/colorbox.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.colorbox.min.js", :type => "text/javascript"}
    %script{:src => "/js/sammy.min.js", :type => "text/javascript"}
  %body
    #loading
      %div
        %img{:src => "/images/loading.gif", :alt => "Loading"}
        Loading...
    #container
      = yield
    %script{:src => "/js/main.js", :type => "text/javascript"}
