body {
    background: #fff;
    color: #3f312e;
    font: 14px Helvetica, Arial, Sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border:0;
}

h1 a {
    color: #000;
    font-size: 30px;
    text-decoration: none;
}

#container { padding: 5% }

#thumbnails {
    float: left;
    list-style: none;
    margin: 0 auto;
}

.thumbnail img { padding: 0px 12px 12px 0px }

.pager { padding: 2% }

ul.pager li {
    float: left;
    font-size: 11px;
    list-style: none;
}

ul.pager li a {
    border: solid 1px #DDDDDD;
    margin-right: 2px;
}

ul.pager li a:hover { border: solid 1px #666666 }

ul.pager li a:link,
ul.pager li a:visited {
    color: #0063e3;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

ul.pager li.next a,
ul.pager .previous a {
    color: #ff0084;
    display: block;
    float: left;
    font-weight: bold;
}

ul.pager li.active {
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}