body {
  background: #fff;
  color: #3f312e;
  font: 14px Helvetica, Arial, Sans-serif;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

h1 a {
  color: #000;
  font-size: 30px;
  text-decoration: none;
}

#container {
  clear: both;
  float: left;
  margin-left: 5%;
}

#thumbnails {  list-style: none }

.thumbnail img {  padding: 0px 12px 12px 0px }

#loading {
  -moz-opacity: 0.8;
  background-color: #000;
  display: none;
  filter: alpha(opacity=80);
  height: 100%;
  opacity: 0.8;
  position: fixed;
  width: 100%;
}

#loading div {
  font-size:34px;
  text-align:center;
  color:#fff;
  margin-top:300px;
}

.pagination {
  height: 40px;
  margin-top: 10px;
}

.pagination li {
  float: left;
  font-size: 11px;
  list-style: none;
}

.pagination li.gap {
  padding: 0px 3px;
}

.pagination li a, .pagination li p {
  border: solid 1px #DDDDDD;
  margin-right: 2px;
}

.pagination li a:hover {  border: solid 1px #666666 }

.pagination li a:link, .pagination li a:visited {
  color: #0063e3;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}

.pagination li.next_page a, .pagination .previous_page a {
  color: #ff0084;
  display: block;
  float: left;
  font-weight: bold;
}

.pagination li.active p {
  background-color: #DDD;
  cursor:default;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
}