production:
  user: root
  password: password
  adapter: mysql
  host: localhost
  database: picasa_photos
development:
  user: root
  password:
  adapter: mysql
  host: localhost
  database: picasa_photos